<h1>Editing third party api endpoint</h1>

<%= render "form", third_party_api_endpoint: @third_party_api_endpoint %>

<br>

<div>
  <%= link_to "Show this third party api endpoint", @third_party_api_endpoint %> |
  <%= link_to "Back to third party api endpoints", third_party_api_endpoints_path %>
</div>
