<h1>Click here to save third party api endpoints</h1>

<%= link_to "New third party api endpoint", new_third_party_api_endpoint_path %>

<h1>Click here to create Products</h1>

<%= link_to "New product", new_product_path %>